@charset "UTF-8";	
/* CSS Document */	
		
html, body, div, h3, p, ul, li, img {	
	margin: 0px;	
	padding: 0px;	
	text-align: left;	
}	
		
article, aside, figure, footer, header, hgroup,	menu, nav, section { 
	display: block;
}
	
.container {	
	width: 700px;	
	margin: 30px auto 0;
	box-shadow: 3px 3px 5px #7b00c5;
}	
		
header {	
	background: rgba(51,0,0,1);	
	border-bottom: 1px solid #000;	
}	
		
header h3 {	
	color: #fff;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 24px;
	word-spacing: 1px;
	text-shadow: 1px 1px 2px #000;
}	
		
#content {	
	background-color: #848c9c;	
	background: linear-gradient(to top, #848c9c, #848c9c 0%, #43A6CB 50%, #7b00c5 100%);
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
}

.gallery {
	width: 528px;
	margin: auto;
	text-align: center;
}

.gallery ul {
	list-style: none;
}

.gallery li {
	float:left;
	margin: 15px;
}

.gallery img {
display: block;
padding: 5px;
background: #42517f;
border: 1px solid #99adeb;
box-shadow: 1px 1px 2px #000;
}

.gallery img:hover {
	border: 1px solid #fff;
}

.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the
#footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

#mainnav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: #7b00c5;
}

#mainnav a {
	display: block;
	width: 20%;
	float: left;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	background-color: #7b00c5;
	padding-top: 6px;
	padding-bottom: 6px;
}
	
#mainnav a:hover,
#mainnav a:active,
#mainnav a:focus,
#mainnav a.thispage {
	text-decoration: none;
	background-color: #43A6CB;#logo {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	margin: 5px;
	padding: 5px;
	height: 200px;
	width: 800px;
	border: thin double rgba(0,0,0,1);
	text-transform: uppercase; 	color: rgba(102,0,0,1); 	
}


.footer {
	width: 750px;
	border-top: 1px solid #000;
	background-color: rgba(51,51,51,1);
}

.footer p {
	color: #fff;
	text-align: center;
	font-size: 14px;
	margin: 0px auto;
	clear: both;
	width: 750px;
}

