* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 0rem;
	min-height: 55rem;
	background-attachment: fixed;
	/* border tag only used to see edges of page, comment out when not in use*/
	/*border: 1px solid red;*/
    
}

a img { /*This selector removes the blue border around image links that some browsers display. */
    border: none;
    
}

a:link, a:visited{
	text-decoration: none;
	color: hsla(192, 100%, 50%, 1.0); /*turqoise*/
    
}

a:hover{
	color: hsla(192, 100%, 50%, .5); /*transparent turqoise*/
	text-decoration:null;
}

/*IDs*/

#container { /*contains all the content center on the page*/
	/*background-color: rgba(0, 0, 0, .5);*/
	width: 1150px;
	margin-top: 0;
	margin-bottom: 0;
	height: 100%;
	margin: 0 auto 0 auto; /*keeps the container off the left and right side*/
	/*border: 1px solid green;*/ /*Uncomment to show borders of container*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
	
}

#header {
	width: 250px;
	margin: 5px auto 0 auto;
	/*border: 1px solid blue;*/
	/*box-shadow: 1px 3px 1px 1px  rgba(255, 0, 0, 0.5);*/
    
}


#nav {
	background-color: rgba(255, 255, 255, .25);
	color:hsla(192, 100%, 50%, 1.0);
	/*width: 250px;*/
	height: 100%;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 2.5%;
	padding: 10px;
	/*border: 1px solid black;*/
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
	/*box-shadow: 15px 15px 0px 0px  rgba(0, 204, 255, 0.5);*/
	text-shadow:1px 1px 0 rgba(0,0,0,1.0);
    
}

div#content {
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

#content {
	/*background-color: rgba(0, 0, 0, .5);*/
	/*border: 1px solid red;*/
	width: 70%;
    height: 100%;
	margin-top: 20px;
	/*box-shadow: 15px 15px 0px 0px  rgba(0, 204, 255, 0.5);*/
    
}

#content iframe {
    width: 100%;
    height: 100%;

}

#content center {
    width: 100%;
    height: 100%;
}

#footer {
	/*background-color: rgba(0, 0, 0, .5);*/
	color:white;
	text-shadow:1px 1px 0 rgba(0,0,0,1.0);
	width: 100%;
	position: fixed;
	clear:both;
	text-align: center;
	bottom: 0;
	/*border: 1px solid blue;*/
}
#center{
	text-align: center;
}
/*CLASSES*/

/*This is the 'under construction'& 'sale' underlay that is under the nav bar*/

.underlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
    
}

table.nav td{
	margin:20px 15px;
	padding:0px 5px;
}

.home {
	background-color: rgba(255, 255, 255, .25);
	color: black;
	vertical-align: middle;
	font-size: 24;
    
}

.videos{
	background-color: rgba(255, 255, 255, .25);
	color: black;
	text-align: center;
    
}

.signup{
	background-color: rgba(255, 255, 255, .25);
	color: black;
	margin: 10px;
    
}

.contact{
	background-color: rgba(255, 255, 255, .25);
	color: black;
    
}

.poll{
	color:#00ccff;
	text-shadow:1px 1px 0 rgba(0,0,0,1.0);
	text-align: center;
    margin-top:10px;
}

a.hidden{
	color:white;
    
}
