* {
	box-sizing: border-box;
}

body{
	background: #000 url("media/blue_hex.jpg") fixed no-repeat center center;
	background-size:cover;
	margin:0;
	padding:0;
	color: hsla(192, 100%, 50%, 1.0);
	text-shadow:3px 3px 1px hsla(0,0%,50%,1.0);
}

nav {
	/*background-color: rgba(255, 255, 255, .25);*/
	color:hsla(192, 20%, 20%, 1.0);
	padding: 10px;
	/*border: 1px solid black;*/
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
	/*box-shadow: 15px 15px 0px 0px  rgba(0, 204, 255, 0.5);*/
	text-shadow:3px 3px 1px hsla(0,0%,50%,1.0);
	text-align:center;
	position: sticky;
	top:0;
}

nav ul{
	margin:10px 0 0 0;
	padding:0;
}

nav ul li{
	list-style-type: none;
	padding:10px;
	margin:1px;
	background: hsla(192, 100%, 50%, 1.0);
	width: 100%;
	cursor:pointer;
	overflow: hidden;
	white-space: nowrap;
}

nav ul li:hover{
	background: hsla(192, 100%, 50%, .5);
}

a img { /*This selector removes the blue border around image links that some browsers display. */
    border: none;
}

a{
	color: hsla(192, 100%, 50%, 1.0);
	text-decoration:none;
}

#index{
	width:100%;
	min-height:100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#container {
	background-color: rgba(0, 0, 0, .5);
	width: 1150px;
	min-height: 100vh;
	margin: 0 auto 0 auto; /*keeps the container off the left and right side*/
	/*border: 1px solid green;*/ /*Uncomment to show borders of container*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	padding:0 20px 0 0;
}

header{
	border-bottom:1px solid #fff;
}

header.main{
	width: 250px;
	height:100px;
	margin: 5px auto 0 auto;
	/*border: 1px solid blue;*/
	/*box-shadow: 1px 3px 1px 1px  rgba(255, 0, 0, 0.5);*/
}

header img{
	width:250px;
}

.thisPage{
	background-color:#333;
	color:#FFF;
}

.first{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.last{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#content {
	/*background-color: rgba(0, 0, 0, .5);*/
	/*border: 1px solid red;*/
	width: 70%;
	margin-top: 20px;
	/*box-shadow: 15px 15px 0px 0px  rgba(0, 204, 255, 0.5);*/
	height: 95%;
	text-align:center;
}

#tab-one-content iframe,
#tab-two-content iframe{
	display:block;
	margin:0 auto;
}

#tab-one-content p{
	text-align:center;
}

#tab-one-content hr{
	color:#00ccff;
}

div form{
text-align: left;
}

footer {
	color:white;
	text-shadow:1px 1px 0 rgba(0,0,0,1.0);
	width: 100%;
	text-align: center;
	position: fixed;
	bottom:0;
	margin-top:10px;
}

#contact{
	text-align: center;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
    pointer-events: none;
	opacity: .8;
}

.home {
	height:100vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	vertical-align: middle;
	font-size: 24;
	margin:0 auto 0 auto;    
}

.videos{
	text-align: center;
	height:100vh;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.photo{
	height:300px;
	width:300px;
	border-radius:100%;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	display:inline-block;
	margin:0 10px 0 10px;;
}

.photo:hover{
	box-shadow: 0 0 10px  hsla(192, 100%, 50%, 1);
	opacity: .5;
}

#phil{
	background-image:url("contacts/phil/media/mugshot.jpg");
}

#mike{
	background-image:url("contacts/mike/Media/hhavok.jpg");
}
a.hidden{
	color:#fff;
	text-decoration:none;
	cursor: default;
}

.hide{
    display:none;
}

.active{
    display:block;
}

@media (max-width:1100px){
	header,
	.overlay{
        display:none;
	}
	
	nav{
		margin:0;
		padding:0;
		height:0;
		width:100%;
		box-shadow: none;
		position: fixed;
		top:0;
		left:0;
	}

	nav ul{
		display: flex;
		margin:0;
		background-color:#000;
	}

	#content{
		width:100%;
	}

	#content div{
		padding-top:40px;
	}

	.first{
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	
	.last{
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}