*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to top, hsl(209, 63%, 46%), hsl(219, 50%, 45%));
}
#wrapper{
    width:100%;
    min-height:100vh;
    background: linear-gradient(to bottom,hsla(48, 100%, 51%, 1.0), hsla(22, 100%, 50%, 1.0));
    min-width: 740px;
    max-width: 1000px;
    margin: 0px auto;
    border-left:5px solid #000;
    border-right:5px solid #000;
}
nav ul{
    min-width:100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
}
nav li{
    list-style: none;
    cursor:pointer;
    background:linear-gradient(to bottom, hsla(24, 82%, 50%, 1.0), hsla(48, 100%, 51%, 1.0));
    width:24%;
    text-align:center;
    margin:0 1px;
    border-left:1px solid #000;
    border-right:1px solid #000;
    height:25px;
		-moz-user-select: none;
}

nav li:hover{
	background:linear-gradient(to top, hsla(24, 82%, 50%, 1.0), hsla(48, 100%, 51%, 1.0));
}

.logo{
    width:380px;
		cursor:pointer;
}

.content{
    padding-top:20px;
    display:flex;
    flex-flow: column wrap;
}

#mon, .title{
    margin:20px auto;
    max-height:400px;
}
#monimg{
    height:400px;
    width: 100%;
}

#score{
	color: #00FF00;
    font-size:24px;
    text-shadow: 2px 2px 5px #000;
}


@media (max-width:960px){
	#monimg{
		width: auto;
		height:200px;
	}
	.logo{
		width:190px;
		height:auto;
	}
	nav li{
		height: 50px;
	}
	nav{
		width:100%;
	}
}