* {
	box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    margin: 0;
    padding: 0;
    height:100%;
    background: #000 url("media/2.jpg") no-repeat center center;
    background-attachment: fixed;
    color:#FA8100;
    text-shadow:1px 1px #000;
}

.mugshot {
    display: block;
    height:200px;
    width:200px;
    margin:0 auto;
    border:1px solid #FA8100;
    border-radius:100%;
}

/* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 7%, .7);
    overflow-x: hidden;
    padding-top: 16px;
    border-right: 1px solid #FA8100;
}

/* Style sidebar links */
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
    color: #f1f1f1;
    background-color: rgba(99, 99, 99, 0.5);
}

/* Style the main content */
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.active{
	background-color:#FA8100;
	color:#fff !important;
}

.content{
	margin-left:160px;
    padding:0px;
    height:100vh;
}

.tabcontent div{
    padding:10px;
}

#gallery div,
#projects div{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    height:100%;
}

#gallery img,
#projects img{
    width:200px;
    height:200px;
    object-fit:cover;
    opacity:.3;
}

#gallery img:hover,
#projects img:hover{
    opacity:1;
    border:1px solid #fff;
    cursor: pointer;
}