.bg-code {
    
    background-image: url(Media/bg-code.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    
}

.transparent-bg {
    
    opacity: .85;
    
}

.img-small {
    
    min-width: 30px;
    max-height: 30px;
    
}

.html5 {
    
    height: 1.5rem;
    
}

h6.html5 {
    width: 5rem;
}

.bg-pink {
    
    background-color: hsla(336, 88%, 31%, 1);
    
}
